<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Smart Garden Dashboard</title>
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- FontAwesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="./">Smart Garden IUH</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto gap-3">
						<li class="nav-item">
							<button id="" class="btn btn-success">
								<a href="./health" style="color: white; text-decoration: none"
									>Sức khỏe cây trồng</a
								>
							</button>
						</li>
						<li class="nav-item">
							<button id="" class="btn btn-success">
								<a href="./setting" style="color: white; text-decoration: none"
									>Cài đặt</a
								>
							</button>
						</li>
						<li class="nav-item">
							<button id="" class="btn btn-success">
								<a href="./history" style="color: white; text-decoration: none"
									>Lịch sử</a
								>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container py-4">
			<h1 class="text-center mb-5 text-success">
				Cài Đặt Smart Garden <i class="fa fa-cog" aria-hidden="true"></i>
			</h1>
			<div class="row justify-content-center">
				<!-- Left Side: Form -->
				<div class="col-lg-4">
					<div class="card p-3" style="height: auto">
						<form action="/settings/save" method="POST" id="settingForm">
							<div class="row mb-3">
								<div class="col-md-12">
									<label for="temperatureThreshold" class="form-label"
										>Nhiệt độ (°C)</label
									>
									<input
										type="number"
										step="0.1"
										class="form-control"
										id="temperatureThreshold"
										name="temperatureThreshold"
										placeholder="Nhập giá trị nhiệt độ tự động tưới"
										required
									/>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-md-12">
									<label for="humidityThreshold" class="form-label"
										>Độ ẩm không khí (%)</label
									>
									<input
										type="number"
										step="0.1"
										class="form-control"
										id="humidityThreshold"
										name="humidityThreshold"
										placeholder="Nhập giá trị độ ẩm tự động tưới"
										required
									/>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-md-12">
									<label for="soilMoistureThreshold" class="form-label"
										>Độ ẩm đất (%)</label
									>
									<input
										type="number"
										step="0.1"
										class="form-control"
										id="soilMoistureThreshold"
										name="soilMoistureThreshold"
										placeholder="Nhập giá trị độ ẩm đất tự động tưới"
										required
									/>
								</div>
							</div>

							<div class="text-center">
								<button type="submit" class="btn btn-success">
									Lưu cài đặt
								</button>
							</div>
						</form>
					</div>
				</div>
				<!-- Right Side: Default Threshold Settings -->
				<div class="col-lg-1"></div>
				<!-- Right Side: Default Threshold Settings -->
				<div class="col-lg-4">
					<div class="row">
						<div class="col-lg-12 card p-3" style="height: auto">
							<div class="row">
								<h4 class="text-center" style="color: #4caf50">
									Điều khiển thiết bị
								</h4>
								<div class="col-lg-12 d-flex justify-content-between">
									<p class="mb-0">
										<i class="fas fa-thermometer-half fa-2x m-2"></i>
										<span id="tempValue"><%= temperatureThreshold%></span>°C
									</p>
									<p class="mb-0">
										<i class="fas fa-tint fa-2x m-2"></i>
										<span id="humidValue"><%= humidityThreshold %></span>%
									</p>
									<p class="mb-0">
										<i class="fas fa-seedling fa-2x m-2"></i>
										<span id="soilValue"><%= soilMoistureThreshold %></span>%
									</p>
								</div>
							</div>
							<hr />

							<div class="row">
								<div class="col-lg-12 d-flex justify-content-between">
									<h4 class="text-center" style="color: #4caf50">
										Chăm sóc tự động
									</h4>
									<!-- Rounded switch -->
									<label class="switch">
										<input id="checkAuto" type="checkbox" <% if (autoMode === 1)
										{ %> checked <% } %> />
										<span class="slider round"></span>
									</label>
									<!-- Default text -->
								</div>
							</div>

							<hr />
							<div class="row manual-setting">
								<div class="col-lg-12 mb-2 mt-2 d-flex justify-content-between">
									<h5 class="text-center m-2">
										<i class="fa-solid fa-water"></i>
										Trạng thái phun sương
									</h5>
									<button
										id="waterBtn"
										type="button"
										class="btn btn-success"
										data-toggle="button"
									>
										<% if (waterPump === 1) { %> On <% } else { %> Off <% } %>
									</button>
								</div>
								<div class="col-lg-12 mb-2 mt-2 d-flex justify-content-between">
									<h5 class="text-center m-2">
										<i class="fa-solid fa-fan"></i>
										Trạng thái quạt
									</h5>
									<button
										id="fanBtn"
										type="button"
										class="btn btn-success"
										data-toggle="button"
									>
										<% if (fan === 1) { %> On <% } else { %> Off <% } %>
									</button>
								</div>
							</div>
							<div class="row auto-setting">
								<div class="col-xl-12 text-center">
									<h4 style="color: #2e7d32">
										CHẾ ĐỘ CHĂM SÓC TỰ ĐỘNG ĐANG BẬT
										<i class="fa-solid fa-gears"></i>
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer
			class="text-white text-center py-3 mt-5"
			style="background-color: #2e7d32"
		>
			<div class="container">
				<p class="mb-0">© 2024 Smart Garden IUH. All rights reserved.</p>
				<p class="mb-0">
					Developed by
					<a href="#" class="text-white fw-bold"
						>Nguyễn Minh Ý & Phạm Quốc Trung</a
					>
				</p>
			</div>
		</footer>
		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
		<script src="js/setting.js"></script>
	</body>
</html>
